
@{
    ViewBag.Title = "About";
}

<h2>About Me</h2>
<h5>u21512338</h5>

<div style="height: auto; overflow: auto; background-color: lightgray">
    <div class="well-sm">
        <div class="col-lg-6">
            <div>
                <h3>Bio</h3>
            </div>
            <div>
                <p>
                    My name is Nikita Jade Haskins and I am a student at the University of Pretoria. I am currently studying BIT Information Systems and
                    am pursuing the Information Science stream. My current achievements include becoming a Golden Key member at the beginning of this year (2022).
                    <br /><br />
                    I grew up in Pietermaritzburg, where I attended Pietermaritzburg Girls High School. I did not enjoy sports and as such focused on academics
                    for the majority of my high school career. While some aspects were enjoyable, as a whole I did not enjoy school and am much happier in a
                    university environment. I now stay at a university residence.
                    <br /><br />
                    At home I have three dogs, four cats, and three guinea pigs. I very much love my animals and look forward to seeing them every holiday.
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div>
                <h3>Nikita Haskins</h3>
            </div>
            <div>
                <img src="@Url.Content("~/About_Image/NikitaHaskins.jpg")" alt="About Me Image" style="height : 250px; width : 300px;">
            </div>
        </div>
    </div>
</div>